<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    </head>
    <body>
        <form action="/newpost" method="POST">
            Tytuł: <input type="text" name="title" size="150"/><br />
            Treść:
            <textarea name="content" cols="150" rows="5"></textarea><br />
            <input type="submit" value="Dodaj wpis" />
        </form>
        <br /><br /><br />
        <center>
            <div th:each="post :${posts}">
                <h2 th:text="${post.title}">1</h2>
                <p th:text="${post.content}">1</p>
                <a th:href="|deletepost?id=${post.id}|">Usuń</a>
            </div>
        </center>
    </body>
</html>
